{% extends "template.html" %}
{% block content %}

    <div class="container">
    	<br/>
        <br/>
        <br/>
        <h2>Welcome to Tornado</h2>
		<br/>
        <!--Apply css to all tables-->
        <div class="table table-hover table-striped">
            
            {% raw tbl %}

	    </div>
		
	</div>	

{% end block %}


	
	
	
// {% autoescape None %} if you put this at the top, it will affect everything
// {% raw *expression* %} does not escape the expression