<!DOCTYPE html>
<head>
  <title>{{ escape(page_title) }}</title>
  <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
  <script src="{{ static_url('js/jquery-2.1.4.min.js') }}"></script>
  <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
</head>
<body>


    <div class="container">
    {% block content %}
    {% end block %}
    </div>
	

</body>
</html>