<!DOCTYPE html>
<head>
  <!-- Add css and javascript files -->
  <title>{{ page_title }}</title>
  <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
  <script src="{{ static_url('js/jquery-2.1.4.min.js') }}"></script>
  <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
</head>
<body>


<!-- add menu bar -->
<div class="container">
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">{{ company_name }}</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="#">About</a></li>
			<li><a href="#">Porfolio</a></li>
			<li><a href="#">Contact</a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>






    <!-- Add contents from index.html -->
    <div class="container">
    {% block content %}
    {% end block %}
    </div>
	


</body>
</html>